<h2> Hello {{ user.firstname }} {{ user.lastname }} ! </h2>
<p>
  Bienvenu sur SAFESHOP, commencez dès maintenant par vous connecter depuis la <a href="{{ homepage }}">page d'accueil de SAFESHOP</a>
</p>