<h2> Hello {{ firstname }} {{ lastname }} ! </h2>
<p>
  Vous avez changer l'adresse email pour votre compte, merci de confirmer la nouvelle en <a href="{{ api_url }}/validate_email/{{ token }}" target="_blank">cliquant ici</a>.
</p>